<div class="center">
        <a class="logo" href="index.html"><img src="images/logo.png" alt="" width="81" height="18"></a>
        <nav>
            <ul>
                <li class="nav-book"><a>Contact</a></li>
                <li><a href="index.html">Home</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/index.html">Home (Default)</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/index-no-booking.html">Home (No Booking)</a></li>
                    </ul> -->
                </li>
                <li class="drop"><a href="accommodation.html">Accommodation</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/accommodation.html">Accommodation List</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/accommodation-room.html">Room Layout</a></li>
                    </ul> -->
                </li>
                <li><a href="gallery.html">Gallery</a></li>
                <!-- <li><a href="http://demo.klayemorrison.com/alpha-hotel/location.html">Location</a></li> -->
               <!--  <li class="drop"><a href="http://demo.klayemorrison.com/alpha-hotel/about.html">More Pages</a>
                    <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/about.html">About Us</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/packages.html">Packages</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/restaurant.html">Restaurant</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/testimonials.html">Testimonials</a></li>
                        <li class="drop"><a href="http://demo.klayemorrison.com/alpha-hotel/blog.html">Hotel Blog</a>
                            <ul>
                                <li><a href="http://demo.klayemorrison.com/alpha-hotel/blog.html">Blog Overview</a></li>
                                <li><a href="http://demo.klayemorrison.com/alpha-hotel/blog-post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/shortcodes.html">Shortcodes</a></li>
                    </ul>
                </li> -->
                <li><a href="contact.html">Contact</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/contact.php">Booking Request</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/contact-no-booking.php">Make an Enquiry</a></li>
                    </ul> -->
                </li>
            </ul>
        </nav>
        <div id="mobilenav"><i class="icon ion-navicon"></i></div>
        <a class="button book-button" href="contact.html">Contact</a>
        <div class="header-social">
            <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/klayemorrison/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
        </div>
    </div>
</header>
<!-- Navigation | END -->


<!-- ******************** Header | END ******************** -->


<!-- Carousel | START -->
<div class="section carousel horizontal fade visible">
<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1349px; height: 400px; margin: 0px; overflow: hidden;"><div class="slider" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 6149px; height: 400px;">

    <img src="images/1200x800-1.jpg" alt="">
    <img src="images/1200x800-2.jpg" alt="">
    <img src="images/1200x800-4.jpg" alt="">
    <img src="images/1200x800-3.jpg" alt="">
    
</div></div>
<div class="slider-nav">
    <a class="prev" style="display: block;"><i class="icon ion-ios-arrow-left"></i></a>
    <a class="next" style="display: block;"><i class="icon ion-ios-arrow-right"></i></a>
</div>
</div>
<!-- Carousel | END -->



<!-- Booking Bar | START -->
<div id="book-bar"></div>
<div class="book-bar fade">
    <div class="center">
        <div class="date-field date-arrival">
            <div class="date">
                <span class="tag">Arrive</span>
                <span class="arrival-day">23</span>
                <span class="arrival-month">June</span>
            </div>
        </div>
        <div class="date-field date-departure">
            <div class="date">
                <span class="tag">Depart</span>
                <span class="departure-day">24</span>
                <span class="departure-month">June</span>
            </div>
        </div>
        <div class="date-field date-book">
            <div class="date">
                <i class="icon ion-paper-airplane"></i>
            </div>
        </div>
    </div>
</div>
<form class="book-form">
    <input name="arrival" type="hidden" class="arrival hasDatepicker" id="dp1466666075277" value="23 June 2016">
    <input name="departure" type="hidden" class="departure hasDatepicker" id="dp1466666075278" value="24 June 2016">
    <button></button>
</form>
<!-- Booking Bar | END -->

<!-- ******************** Header | END ******************** -->



<!-- ******************** Main | START ******************** -->

<main>

<!-- Text Block | START -->
<div class="section text feature fade">
    <div class="center">
    
        <div class="col-1">
            <h1>Standard Room</h1>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- Text Block | START -->
<div class="section text fade">
    <div class="center">
    
        <div class="col-2">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero.</p>
        </div>
        
        <div class="col-2">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero.</p>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- Text Block | START -->
<div class="section text feature fade">
    <div class="center">
    
        <div class="col-1">
            <ul class="tags">
                <li>Spa Bath</li>
                <li>King Size Bed</li>
                <li>Air Conditioning</li>
                <li>CD Player</li>
                <li>Dishwasher</li>
                <li>Cable Television</li>
                <li>Spacious Living Areas</li>
                <li>Free Unlimited Wi-Fi</li>
                <li>24 Hour Room Service</li>
                <li>Late Check-out</li>
            </ul>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- Timeline | START -->
<div class="section timeline">
    <div class="label fade">Added luxuries</div>
    <div class="center fade">
    
        <div class="item fade">
            <div class="thumb"><div class="back"><img src="images/800x400-4.jpg" alt=""></div></div>
            <div class="details">
                <h2>Beautiful ocean views</h2>
                <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque.</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</p>
            </div>
        </div>
        
        <div class="item fade">
            <div class="thumb"><div class="back"><img src="images/800x400-5.jpg" alt=""></div></div>
            <div class="details">
                <h2>Complimentary dining</h2>
                <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque.</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</p>
            </div>
        </div>        
        
    </div>
</div>
<!-- Timeline | END -->



<!-- Subscribe | START -->
<div class="section subscribe fade">
    <div class="center">
        <h3>Stay from <strong>$198 per night</strong></h3>
        <a class="button" href="contact.html">Book your room <i class="icon ion-ios-arrow-right"></i></a>
    </div>
</div>
<!-- Subscribe | END -->

</main>