<div class="center">
        <a class="logo" href="index.html"><img src="images/logo.png" alt="" width="81" height="18"></a>
        <nav>
            <ul>
                <li class="nav-book"><a>Contact</a></li>
                <li><a href="index.html">Home</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/index.html">Home (Default)</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/index-no-booking.html">Home (No Booking)</a></li>
                    </ul> -->
                </li>
                <li class="drop"><a href="accommodation.html">Accommodation</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/accommodation.html">Accommodation List</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/accommodation-room.html">Room Layout</a></li>
                    </ul> -->
                </li>
                <li><a href="gallery.html">Gallery</a></li>
                <!-- <li><a href="http://demo.klayemorrison.com/alpha-hotel/location.html">Location</a></li> -->
               <!--  <li class="drop"><a href="http://demo.klayemorrison.com/alpha-hotel/about.html">More Pages</a>
                    <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/about.html">About Us</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/packages.html">Packages</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/restaurant.html">Restaurant</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/testimonials.html">Testimonials</a></li>
                        <li class="drop"><a href="http://demo.klayemorrison.com/alpha-hotel/blog.html">Hotel Blog</a>
                            <ul>
                                <li><a href="http://demo.klayemorrison.com/alpha-hotel/blog.html">Blog Overview</a></li>
                                <li><a href="http://demo.klayemorrison.com/alpha-hotel/blog-post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/shortcodes.html">Shortcodes</a></li>
                    </ul>
                </li> -->
                <li><a href="contact.html">Contact</a>
                    <!-- <ul>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/contact.php">Booking Request</a></li>
                        <li><a href="http://demo.klayemorrison.com/alpha-hotel/contact-no-booking.php">Make an Enquiry</a></li>
                    </ul> -->
                </li>
            </ul>
        </nav>
        <div id="mobilenav"><i class="icon ion-navicon"></i></div>
        <a class="button book-button" href="contact.html">Contact</a>
        <div class="header-social">
            <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/klayemorrison/" target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
        </div>
    </div>
</header>
<!-- Navigation | END -->


<!-- ******************** Header | END ******************** -->
<!-- Heading | START -->
<div class="section heading fade visible">
    <div class="back" data-image="images/2000x600-2.jpg" style="background-image: url('images/2000x600-2.jpg');"></div>
    
    <div class="item">
        <div class="label">Accommodation</div>
        <h1>Five star luxury awaits</h1>
    </div>
        
</div>
<!-- Heading | END -->




<!-- Booking Bar | START -->
<div id="book-bar"></div>
<div class="book-bar fade">
    <div class="center">
        <div class="date-field date-arrival">
            <div class="date">
                <span class="tag">Arrive</span>
                <span class="arrival-day"></span>
                <span class="arrival-month"></span>
            </div>
        </div>
        <div class="date-field date-departure">
            <div class="date">
                <span class="tag">Depart</span>
                <span class="departure-day"></span>
                <span class="departure-month"></span>
            </div>
        </div>
        <div class="date-field date-book">
            <div class="date">
                <i class="icon ion-paper-airplane"></i>
            </div>
        </div>
    </div>
</div>
<form class="book-form">
    <input name="arrival" type="hidden" class="arrival" />
    <input name="departure" type="hidden" class="departure" />
    <button></button>
</form>
<!-- Booking Bar | END -->

<!-- ******************** Header | END ******************** -->



<!-- ******************** Main | START ******************** -->

<main>

<!-- Text Block | START -->
<div class="section text feature fade visible">
    <div class="center">
    
        <div class="col-1">
            <h2><strong>Spacious</strong> Apartments &amp; Suites</h2>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- Text Block | START -->
<div class="section text fade visible">
    <div class="center">
    
        <div class="col-2">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero.</p>
        </div>
        
        <div class="col-2">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero.</p>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- Boxes | START -->
<div class="section boxes fade visible">
    <div class="center wrecker" style="display: table;">
    
        <div class="wrecker-row" style="display:table-row"><div class="col-3 wrecker-cell" style="display: table-cell; float: none;">
            <div class="item">
                <div class="thumb"><a href="accommodation-room.html"><div class="back" data-image="images/600x400-1.jpg" style="background-image: url(&quot;images/600x400-1.jpg&quot;);"></div></a></div>
                <div class="details">
                    <h3>Standard Room</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p>
                    <p><a href="accommodation-room.html" class="button">View Room <i class="icon ion-ios-arrow-right"></i></a></p>
                </div>
            </div>
        </div><div class="col-3 wrecker-cell" style="display: table-cell; float: none;">
            <div class="item">
                <div class="thumb"><a href="accommodation-room.html"><div class="back" data-image="images/600x400-2.jpg" style="background-image: url(&quot;images/600x400-2.jpg&quot;);"></div></a></div>
                <div class="details">
                    <h3>Deluxe Apartment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p>
                    <p><a href="accommodation-room.html" class="button">View Room <i class="icon ion-ios-arrow-right"></i></a></p>
                </div>
            </div>
        </div><div class="col-3 wrecker-cell" style="display: table-cell; float: none;">
            <div class="item">
                <div class="thumb"><a href="accommodation-room.html"><div class="back" data-image="images/600x400-3.jpg" style="background-image: url(&quot;images/600x400-3.jpg&quot;);"></div></a></div>
                <div class="details">
                    <h3>The Alpha Suite</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p>
                    <p><a href="accommodation-room.html" class="button">View Room <i class="icon ion-ios-arrow-right"></i></a></p>
                </div>
            </div>
        </div></div>
        
        
        
        
        
    </div>
</div>
<!-- Boxes | END -->


<!-- Quote | START -->
<div class="section quote fade visible">
    <div class="center">
    
        <div class="col-1">
            <div class="thumb"><img src="images/160x160-2.jpg" alt=""></div>
            <h5><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium sollicitudin.</em></h5>
            <p><span><strong>Klaye Morrison</strong> (Melbourne)</span></p>
        </div>
        
    </div>
</div>
<!-- Quote | END -->

<!-- Photo Panel | START -->
<div class="section panel">

    <div class="item fade visible">
        <div class="back" data-image="images/2000x600-3.jpg" style="background-image: url(&quot;images/2000x600-3.jpg&quot;);"></div>
        <div class="panel-button">
            <div class="button-container">
                <a href="accommodation.html">Accommodation</a>
                <span>See our Apartments <i class="icon ion-ios-arrow-right"></i></span>
            </div>
        </div>
    </div>

</div>
<!-- Photo Panel | END -->
</main>