<div class="section gallery fade visible" style="position: relative; height: 2106.33px;">
    
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 0px; top: 0px;">
        <a href="images/1200x800-7.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-7.jpg" width="900" height="600" src="images/1200x800-7.jpg" style="display: block;"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 674px; top: 0px;">
        <a href="images/1200x800-9.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-9.jpg" width="900" height="600" src="images/1200x800-9.jpg" style="display: block;"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 1011px; top: 0px;">
        <a href="images/1200x800-11.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-11.jpg" width="900" height="600" src="images/1200x800-11.jpg" style="display: block;"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 674px; top: 210px;">
        <a href="images/1200x800-5.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-5.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 1011px; top: 210px;">
        <a href="images/1200x800-10.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-10.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Portrait --><figure class="item-h2" style="width: 337px; height: 421.28px; position: absolute; left: 674px; top: 421px;">
        <a href="images/800x1200-2.jpg">
            <div class="img"><img alt="" data-original="images/800x1200-2.jpg" width="600" height="900" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Portrait --><figure class="item-h2" style="width: 337px; height: 421.28px; position: absolute; left: 1011px; top: 421px;">
        <a href="images/800x1200-4.jpg">
            <div class="img"><img alt="" data-original="images/800x1200-4.jpg" width="600" height="900" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 0px; top: 421px;">
        <a href="images/1200x800-13.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-13.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 674px; top: 842px;">
        <a href="images/1200x800-8.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-8.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 0px; top: 842px;">
        <a href="images/1200x800-4.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-4.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 674px; top: 1263px;">
        <a href="images/1200x800-6.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-6.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 1011px; top: 1263px;">
        <a href="images/1200x800-16.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-16.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Portrait --><figure class="item-h2" style="width: 337px; height: 421.28px; position: absolute; left: 0px; top: 1263px;">
        <a href="images/800x1200-3.jpg">
            <div class="img"><img alt="" data-original="images/800x1200-3.jpg" width="600" height="900" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Portrait --><figure class="item-h2" style="width: 337px; height: 421.28px; position: absolute; left: 337px; top: 1263px;">
        <a href="images/800x1200-1.jpg">
            <div class="img"><img alt="" data-original="images/800x1200-1.jpg" width="600" height="900" src="system/images/blank.png"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 674px; top: 1474px;">
        <a href="images/1200x800-2.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-2.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <figure class="" style="width: 337px; height: 210.64px; position: absolute; left: 1011px; top: 1474px;">
        <a href="images/1200x800-14.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-14.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 674px; top: 1685px;">
        <a href="images/1200x800-15.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-15.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>
    <!-- Feature --><figure class="item-w2 item-h2" style="width: 674px; height: 421.28px; position: absolute; left: 0px; top: 1685px;">
        <a href="images/1200x800-17.jpg">
            <div class="img"><img alt="" data-original="images/1200x800-17.jpg" width="900" height="600" src="system/images/blank.png"></div>
        </a>
    </figure>

</div>