<div class="section panel hero full fade">
<div class="slider">
    
    <div class="item">
        <div class="back" data-image="images/2000x1000-1.jpg"></div>
        <div class="panel-button">
            <div class="button-container">
                <a>Discover Melbourne's most <strong>vibrant</strong> location</a>
                <span>Plan your stay <i class="icon ion-ios-arrow-right"></i></span>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="back" data-image="images/2000x1000-2.jpg"></div>
        <div class="panel-button">
            <div class="button-container">
                <a href="packages.html">Book online, stay and <strong>explore</strong></a>
                <span>See our packages <i class="icon ion-ios-arrow-right"></i></span>
            </div>
        </div>
    </div>

</div> 
<div class="slider-nav">
    <a class="prev"><i class="icon ion-ios-arrow-left"></i></a>
    <a class="next"><i class="icon ion-ios-arrow-right"></i></a>
</div>  
</div>
<!-- Photo Panel | END -->



<!-- Booking Bar | START -->
<div id="book-bar"></div>
<div class="book-bar fade">
    <div class="center">
        <div class="date-field date-arrival">
            <div class="date">
                <span class="tag">Arrive</span>
                <span class="arrival-day"></span>
                <span class="arrival-month"></span>
            </div>
        </div>
        <div class="date-field date-departure">
            <div class="date">
                <span class="tag">Depart</span>
                <span class="departure-day"></span>
                <span class="departure-month"></span>
            </div>
        </div>
        <div class="date-field date-book">
            <div class="date">
                <i class="icon ion-paper-airplane"></i>
            </div>
        </div>
    </div>
</div>
<form class="book-form">
    <input name="arrival" type="hidden" class="arrival" />
    <input name="departure" type="hidden" class="departure" />
    <button></button>
</form>
<!-- Booking Bar | END -->

<!-- ******************** Header | END ******************** -->



<!-- ******************** Main | START ******************** -->

<main>

<!-- Text Block | START -->
<div class="section text feature fade visible">
    <div class="center">
    
        <div class="col-1">
            <h1>Packages include</h1>
        </div>
        
    </div>
</div>
<!-- Text Block | END -->



<!-- USP Strip | START -->
<div class="section usp fade visible">
    <div class="center">
    
        <div class="col-3">
            <div class="item">
                <i class="icon ion-ios-wineglass-outline"></i>
                <h4>Wine on Arrival</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel.</p>
            </div>
        </div>
    
        <div class="col-3">
            <div class="item">
                <i class="icon ion-ios-clock-outline"></i>
                <h4>Late Check-out</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel.</p>
            </div>
        </div>
        
        <div class="col-3">
            <div class="item">
                <i class="icon ion-ios-eye-outline"></i>
                <h4>Priority Ocean Views</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel.</p>
            </div>
        </div>
        
    </div>
</div>
<!-- USP Strip | END -->



<!-- Photo Panel | START -->
<div class="section panel">

    <div class="item fade visible">
        <div class="back" data-image="images/2000x600-3.jpg" style="background-image: url(&quot;images/2000x600-3.jpg&quot;);"></div>
        <div class="panel-button">
            <div class="button-container">
                <a href="accommodation.html">Accommodation</a>
                <span>See our Apartments <i class="icon ion-ios-arrow-right"></i></span>
            </div>
        </div>
    </div>

</div>
<!-- Photo Panel | END -->

</main>